/* reset */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/* background */
.auth-wrapper {
  position: fixed;
  inset: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f7;
  z-index: 0;
}

/* card */
.auth-card {
  width: 420px;
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.08);
  text-align: left;
}


/* headings */
.auth-card h2 {
  font-size: 24px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 16px;
  color: #64748b;
  margin-bottom: 1.5rem;
}

/* inputs */
.input-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

.input-label {
  font-size: 17px;
  font-weight: 500;
  color: #334155;
}

.input-control {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 17px;
}

.input-control:focus {
  outline: none;
  border-color: #475569;
}

/* errors */
.error-text {
  font-size: 17px;
  color: #dc2626;
  margin-top: 4px;
}

/* button */
.primary-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 12px;
  background-color: #0f172a;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #020617;
}

textarea.input-control {
  resize: none;
}

input[type="radio"] {
  margin-right: 4px;
}

.success-text {
  font-size: 17px;
  color: #16a34a; 
  margin-top: 10px;
  text-align: center;
  font-weight: 500;
}
